In [3]:
# import packages needed 
import glob, os
import pandas as pd
import csv

In [4]:
#file_path = glob.glob('bikedata/*.csv')

In [5]:
file_path = glob.glob('Q1/*.csv')

In [6]:
bike_2019Q1data = pd.DataFrame()

for file in file_path:
    read_data = pd.read_csv(file)
    bike_2019Q1data = bike_2019Q1data.append(read_data, ignore_index=True, sort=False)
    
bike_2019Q1data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [17]:
bike_2019Q1data.count()

tripduration               61847
starttime                  61847
stoptime                   61847
start station id           61847
start station name         61847
start station latitude     61847
start station longitude    61847
end station id             61847
end station name           61847
end station latitude       61847
end station longitude      61847
bikeid                     61847
usertype                   61847
birth year                 61847
gender                     61847
dtype: int64

In [13]:
#check nulls in data
bike_2019Q1data.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [14]:
#change data types
bike_2019Q1data['birth year'] = bike_2019Q1data.Birth_Year.astype(int)
bike_2019Q1data['starttime'] = bike_2019Q1data.to_datetime(bike_2019Q1data['starttime'])
bike_2019Q1data['stoptime'] = bike_2019Q1data.to_datetime(bike_2019Q1data['stoptime'])

AttributeError: 'DataFrame' object has no attribute 'Birth_Year'

In [45]:
bike_2019Q1data.to_csv('citybike_2019_Q1.csv', sep=',')

In [24]:
file_path = glob.glob('bikedata/*.csv')

In [28]:
dataframe = pd.DataFrame()

for file in file_path:
    citybike_2019data = pd.read_csv(file)
    dataframe = dataframe.append(citybike_2019data, ignore_index=True, sort=False)

dataframe.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [36]:
dataframe.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [38]:
dataframe["starttime"] = pd.to_datetime(dataframe["starttime"])
dataframe["stoptime"] = pd.to_datetime(dataframe["stoptime"])

In [40]:
total_2019trip = dataframe['tripduration'].sum()
total_2019trip

293927830

In [41]:
dataframe.to_csv('citybike_2019.csv', sep=',')

In [ ]:
## dataframe.columns = ['Trip_duration(sec)', 'Start_time', 'Stop_time', 'Start_station_ID', 'Start_station_name', 
##                             "Start_station_latitude", "End_station_ID"]